@import 'styles/breakpoints';

.hero {
	width: 100%;
	height: 81.8vh;
	height: 81.8dvh;
	position: relative;

	&__content {
		background: linear-gradient(
			90deg,
			#fff 8.5%,
			#73f373 8.5%,
			#73f373 29.5%,
			#fed500 29.5%,
			#fed500 64.7%,
			#73f373 64.7%
		);

		height: 100%;
		right: 0;
	}
}
